<?xml version="1.0" encoding="UTF-8"?>
<events>
  <event>
    <id>1</id>
    <title>MACAN</title>
    <poster>/assets/макан.png</poster>
    <datetime>03.05.2025, 19:00</datetime>
    <location>ГКСУ "Чижовка-Арена", Минск</location>
    <price>157.00 - 200.00 BYN</price>
    <description>
      Большой концерт MACAN в Чижовка - Арена. 
      За последние несколько лет артист презентовал сольные альбомы, треки из которых успешно и ожидаемо покорили топ-чарты музыкальных платформ. Восторженные отзывы, атмосферная музыка и тексты песен, в которых каждый узнает себя — всё это MACAN.
      Вы услышите все главные хиты начиная с первых релизов и дебютного альбома, заканчивая самыми последними песнями: "БРАТ", "Юг", "Май", "ASPHALT8", "IVL", "Big City Life", Останься образом. Также состоится презентация нового альбома "I AM".
      MACAN пишет все свои тексты сам, он вкладывает в них все свои внутренние переживания. Мелодичные, очень честные и уютные песни о пацанской дружбе, любви и тяжести расставания, погоне за деньгами, ценностях и мечтах откликаются в сердцах поклонников, количество которых только растёт
      Встречаемся на Чижовке-Арене 3 мая!
    </description>
    <video>https://www.youtube.com/embed/u4p9w7zQejA</video>
  </event>
  <event>
    <id>2</id>
    <title>GUF</title>
    <poster>/assets/гуф.jpeg</poster>
    <datetime>07.06.2025, 20:00</datetime>
    <location>Falcon Club Arena, Минск</location>
    <price>200.00 - 250.00 BYN</price>
    <description>
      Прощальный концерт рэпера GUF в Минске!
      7 июня 2025 года на сцене Falcon Arena в Минске пройдет прощальный концерт легендарного артиста!
      Это последний шанс увидеть одного из самых значимых рэп-исполнителей в истории русскоязычного хип-хопа. GUF стал настоящим голосом поколения, а его треки навсегда останутся в сердцах миллионов. В этот вечер прозвучат главные хиты, среди которых "Ice Baby", "Новогодняя", "Моя игра", "Спонсор твоих проблем", "Ураган" и многие другие.
      Не упустите возможность провести этот вечер вместе с GUF’ом и стать частью истории. Это будет концерт, о котором вы будете вспоминать ещё долгие годы.
    </description>
    <video>https://www.youtube.com/embed/DzCvbzb4eAM</video>
  </event>
  <event>
    <id>3</id>
    <title>OG BUDA</title>
    <poster>/assets/буда.jpeg</poster>
    <datetime>29.05.2025, 20:00</datetime>
    <location>Falcon Club Arena, Минск</location>
    <price>150.00 - 180.00 BYN</price>
    <description>
      OG Buda — яркий представитель молодой волны русских рэперов и «новой школы» хип-хоп-музыки. Аббревиатура OG значит original gangster, то есть «настоящий парень с улиц». «Buda» отсылает к Будапешту, где вырос музыкант. OG Buda исполняет песни в стиле дрилл и делает уверенные шаги в направлении мичиган-рэпа. Смелые шоу и чистый фристайл под агрессивные биты завоёвывают публику СНГ и находят признание коллег по цеху. Творчество OG Buda — смесь стильного Young Thug, дерзких «Рыночных Отношений» и спокойного Drake. Артист представляет «подъездный» рэп наряду с романтичными медляками, полными самоиронии. Пока рэперы «новой школы» серьёзны в своих композициях, Buda не может обойтись без юмора.
    </description>
    <video>https://www.youtube.com/embed/J67HMDK6rMQ</video>
  </event>
  <event>
    <id>4</id>
    <title>Ромео и Джульетта</title>
    <poster>/assets/romeo.jpg</poster>
    <datetime>15.05.2025, 19:00</datetime>
    <location>Драматический театр Белорусской армии, Минск</location>
    <price>18.00 - 28.00 BYN</price>
    <description>
      ОРГАНИЗАТОР - ГУ Драматический театр Белорусской Армии
      В. Шекспир
      Ромео и Джульетта
      Драма в двух действиях
      Действительно удивительная трактовка Шекспира, точнее не трактовка, а совершенно восхитительное, не школьное, не стереотипное гениальное режиссерское прочтение самого богатейшего по лексике произведения Шекспира.
      Жизнь человека слишком коротка, любовь двух сердец это лишь проносящийся горячей искрой миг счастья, а Жизнь Человечества раскинулась на многие тысячелетия потрескивающим, негасимым, сыплющим мириадами этих самых искр любви костром.
      Эти искры, большие и малые, ярко вспыхнув завораживающими вальсирующими звездочками, стремительно возносятся, совершая свой извечный танец-полет и гаснут: одни - мгновенно остыв, падают вызывающими сожаление серыми угольками, едва оторвавшись от матери-пламени, не насладившись собственным танцем, а другие ешё до-олго кружат, радуя взор души, взлетая всё выше и выше, потихоньку теряясь в жадно поглощающем их пространстве времени, полностью, до невесомого эфира, до атомов отдавая себя этому чарующему, возносящему, чудотворному полёту.
      И никак нельзя предугадать, бег какой звездочки ещё долго будет переливаться порхающими солнечными отблесками, а для которой - вся её Вечность лишь миг, подобный взмаху ресниц: то ли собственного запалу ей не хватило, то ли витающий тут и там, подстерёгший её злой демон вселенского холода похитил её горящую молодую душу...
      Режиссер: Марина Дударева
      Художник-постановщик: Ольга Грицаева
      В спектакле заняты: С. Луговский, А. Харланчук-Южакова, М. Денисова, Ю. Бажутова, Е. Балашова, Е. Доливеля, М. Дударева, Е. Жукович, А. Милюхин, В. Молчан, А. Размахов, И. Фильченков.
      В спектакле звучит музыка Сергея Прокофьева и Антонио Вивальди
    </description>
    <video>https://www.youtube.com/embed/MhN-DC-XjwM</video>
  </event>
  <event>
    <id>5</id>
    <title>belbet fest</title>
    <poster>/assets/belbet.jpg</poster>
    <datetime>14.06.2025, 14:00</datetime>
    <location>Стадион "Динамо", Минск</location>
    <price>100.00 - 350.00 BYN</price>
    <description>
      Лето, музыка, вайб - belbet fest!
      14 июня стадион «Динамо» в Минске станет эпицентром летних эмоций! belbet fest собирает топовых артистов, чьи треки знает и любит вся Беларусь. 
      Хедлайнеры фестиваля:
      Jah Khalib – король хип-хопа с восточными мотивами и RandB-рифмами.
      «Дискотека Авария» – легендарная группа, чьи хиты «Disco Superstar», «Если хочешь остаться» и «Все в зале!» подарят взрыв ностальгии и драйва!
      Кто ещё зажжёт сцену?:
      Feduk – автор суперхита «Розовое вино»,
      Люся Чеботина – королева зажигательных поп-треков «Солнце Монако» и «Плакал Голливуд»,
      «Моя Мишель» – треки с самым душевным звучанием,
      Белорусское трэп-трио: Nkeeei, Unique, ARTEM SHILOVETS – мощные биты и энергия!,
      belbet fest больше чем фестиваль – это атмосфера!,
      Удвоенный фудкорт – лучшие гастроточки Минска,
      Крутые фотозоны – идеальные кадры для соцсетей,
      Активности и конкурсы – скучать не придётся!,
      20 000 гостей в 2024 году – в этом году будет ещё громче!,
      Конкурсы и сюрпризы от партнёров фестиваля!,
      А чтобы любители летних музыкальных фестивалей были в курсе всех актуальных новостей, организаторы запустили официальный TG-канал  феста и обещают там много интересных конкурсов и активностей.  Не упустите возможность стать частью грандиозного события этого лета!
    </description>
    <video>https://www.youtube.com/embed/YBbnD7aHL18</video>
  </event>
  <event>
    <id>6</id>
    <title>РУКИ ВВЕРХ!</title>
    <poster>/assets/руки.jpg</poster>
    <datetime>03.06.2025, 23:59</datetime>
    <location>Минск-Арена, Минск</location>
    <price>110.00 - 280.00 BYN</price>
    <description>
      Ну, где же вы девчонки? И мальчишки!
      Легендарная группа «Руки Вверх !» и Сергей Жуков скоро в Минске!
      Мы вновь подарим вам романтику встреч, где он тебя целует и говорит, что любит, где студент игрушку новую нашёл, а по широкой тропе проскакали ковбои.
      18 вам уже, а значит, можно оторваться не по-детски под любимые хиты.
      Группа «Руки Вверх !» собирает огромные залы по всей России. Присоединяйтесь к счастливым людям!
      Обещаем, этот вечер вы не забудете!
      Крошки мои, мы по вам скучаем! И ждём 30, 31 мая и 2 июня на большом концерте группы «Руки Вверх!» в Минске в Минск-арене.
      Приобретайте билеты заранее, чтобы чужие губы не шептали потом, как это было хорошо.
    </description>
    <video>https://www.youtube.com/embed/w-M9RQuIt0I</video>
  </event>
  <event>
    <id>7</id>
    <title>Дискотека СССР</title>
    <poster>/assets/дискотека.jpeg</poster>
    <datetime>09.08.2025, 18:00</datetime>
    <location>Минск-Арена, Минск</location>
    <price>60.00 - 200.00 BYN</price>
    <description>
      Супершоу «Дискотека СССР» 9 августа 2025 года снова в Беларуси на крупнейшей площадке страны «Минск – Арена»! 
      Зрители смогут насладиться творчеством своих музыкальных кумиров и отправиться в захватывающее музыкальное путешествие по «золотым» хитам 80-х, 90-х и начала 00-х...
      Масштабные декорации, удивительное звуковое и световое оформление, а также высококлассные спецэффекты создадут незабываемые положительные эмоции!
      Для вас выступят:
      Вячеслав Быков,
      Сергей Дубровин (группа Фристайл),
      Доктор Шлягер,
      Татьяна Овсиенко,
      Дискомафия,
      Magic of Boney M,
      Ольга Меганская (группа Виагра),
      Отпетые мошенники,
      Сергей Скачков (группа Земляне),
      На-На,
      Банд`эрос.
      Продолжительность шоу - 4 часа
      Возрастное ограничение: 16+
      Возможны изменения в составе участников.
    </description>
    <video>https://www.youtube.com/embed/ugahxq9YIbM</video>
  </event>
  <event>
    <id>8</id>
    <title>Вячеслав Бутусов: Nautilus Pompilius - лучшее</title>
    <poster>/assets/наутилус.jpeg</poster>
    <datetime>28.05.2025, 19:00</datetime>
    <location>Falcon Club Arena, Минск</location>
    <price>150.00 - 370.00 BYN</price>
    <description>
      28 мая в Минске, на сцене Falcon Club Arena состоится настоящий праздник — Вячеслав Бутусов и группа «Орден Славы» сыграют легендарные песни Nautilus Pompilius! Зрителей ждёт большая юбилейная программа из любимых хитов и редких песен.
      По многочисленным просьбам  музыканты исполнят большую ретроспективную программу из главных песен богатого творческого наследия «Наутилуса». На один вечер зрители смогут вновь погрузиться в музыкальную историю нескольких поколений в удивительном сценическом оформлении.
      Nautilus Pompilius — это целая жизнь, со своими сложностями и переменами, романтикой и страстями, но главной её целью всегда было творческое созидание. Десятки записанных хитов, знакомых и любимых сотнями тысяч людей по всему миру, эмоции и воспоминания, которые навсегда остаются в сердцах тех, кто проходит свой путь под музыку Вячеслава Бутусова и тексты Ильи Кормильцева.
      На предстоящем концерте прозвучат самые любимые и яркие песни «НАУ» в актуальном сценическом прочтении. Глубина и атмосфера хорошо знакомых музыкальных полотен будут усилены благодаря высокотехнологичному мультимедийному шоу и эффектной сценографии.
    </description>
    <video>https://www.youtube.com/embed/q2qbgzBZJGk</video>
  </event>
  <event>
    <id>9</id>
    <title>Концерт В СТИЛЕ РОК 2. РУССКИЙ РОК</title>
    <poster>/assets/рок.jpeg</poster>
    <datetime>11.06.2025, 19:00</datetime>
    <location>Центральный Дом офицеров, Минск</location>
    <price>50.00 - 80.00 BYN</price>
    <description>
      Со сцены будет звучать только лучшая музыка, только луч-шие и самые популярные произведения для Вас.
      Красота и торжественность звучания симфонического оркес-тра соединится с мощнейшим напором и драйвом рока, бьющей через край энергией зала.
      Приглашаем наших зрителей в невероятную атмосферу путе-шествий по самым известным рок хитам.
      Голоса артистов будут звучать как сольно, так и сливаться в единое целое – это будет нечто большее, чем звучание голоса и му-зыки — это драйв соедине-ния музыки, артистов и зала.
      В программе концерта возможны изменения.
    </description>
    <video>https://www.youtube.com/embed/3AH-ejOyMwg</video>
  </event>
</events>